{% extends 'base.html' %}
{% load static %}

     

{% block content %}
     <!-- HERO -->
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
               <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              <div class="hero-text">

                                   <h1 class="text-white" data-aos="fade-up">We are ready to help you!</h1>

                                   <a href="contact" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Let us discuss together!</a>

                                   <strong class="d-block py-3 pl-5 text-white" data-aos="fade-up" data-aos-delay="200"><i class="fa fa-phone mr-2"></i> +99 080 070 4224</strong>
                              </div>
                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                            <img src="{% static 'images/working-girl.png' %}" class="img-fluid" alt="working girl">
                          </div>
                        </div>

                    </div>
               </div>
     </section>


     <!-- ABOUT -->
     <section class="about section-padding pb-0" id="about">
          <div class="container">
               <div class="row">

                    <div class="col-lg-7 mx-auto col-md-10 col-12">
                         <div class="about-info">

                              <h2 class="mb-4" data-aos="fade-up">the best <strong>Student Collaboration Portal</strong> in India</h2>

                              <p class="mb-0" data-aos="fade-up">We are a group of enthusiastic developers, willing to solve the problem of student interaction and college resource management. 
                              <br><br>If you are student of <strong><a href="">Chitkara University</a></strong> you can join rightaway!</p>
                         </div>

                         <div class="about-image" data-aos="fade-up" data-aos-delay="200">

                          <img src="{% static 'images/office.png' %}" class="img-fluid" alt="office">
                        </div>
                    </div>

               </div>
          </div>
     </section>

     <!--TODO:Adjust Image size-->
     <!-- PROJECT -->
     
     <section class="project section-padding" id="project">
          <div class="container-fluid">
               <div class="row">

                    <div class="col-lg-12 col-12">

                        <h2 class="mb-5 text-center" data-aos="fade-up">
                            Please take a look through our
                            <strong>featured Articles</strong>
                        </h2>

                         <div class="owl-carousel owl-theme" id="project-slide">
                              {% for blog in featured_blogs %}
                              <div class="item project-wrapper" data-aos="fade-up" data-aos-delay="100">
                                   <img src="{{ blog.image.url }}" class="img-fluid" alt="project image">

                                   <div class="project-info">
                                        <small>{{blog.category}}</small>

                                        <h3>
                                             <a href="project-detail.html">
                                                  <span>{{blog.title}}</span>
                                                  <i class="fa fa-angle-right project-icon"></i>
                                             </a>
                                        </h3>
                                   </div>
                              </div>
                              {% endfor %}
                         </div>
                    </div>

               </div>
          </div>
     </section>
  


     <!-- TESTIMONIAL -->
     <section class="testimonial section-padding">
          <div class="container">
               <div class="row">
                    {% for testimonial in testimonials %}
                    <div class="col-lg-6 col-md-5 col-12">
                        <div class="contact-image" data-aos="fade-up">

                          <img src="{{testimonial.image.url}}" class="img-fluid" alt="website">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-7 col-12">
                      <h4 class="my-5 pt-3" data-aos="fade-up" data-aos-delay="100">Client Testimonials</h4>

                      <div class="quote" data-aos="fade-up" data-aos-delay="200"></div>

                      <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">{{testimonial.testimonial}}</h2>

                      <p data-aos="fade-up" data-aos-delay="400">
                        <strong>{{testimonial.first_name}} {{testimonial.last_name}}</strong>

                        <span class="mx-1">/</span>

                        <small>{{testimonial.designation}}</small>
                      </p>
                    </div>
                    {% endfor %}
               </div>
          </div>
     </section>
{% endblock %}

   


     

